@page
@model GolfBookingApp.Pages.Members.DetailsModel

@{
	ViewData["Title"] = "Member Details";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Member Details</h1>

<div>
    <h4>Member Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Member.MembershipNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Member.MembershipNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Member.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Member.Gender)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Member.Gender)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Member.Handicap)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Member.Handicap)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member.Id" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
