@page
@model GolfBookingApp.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Booking Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Booking Details</h1>

<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Tee Time Information</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Booking.BookingDate)</dt>
                    <dd class="col-sm-8">@Model.Booking.BookingDate.ToShortDateString()</dd>
                    
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Booking.TeeTime)</dt>
                    <dd class="col-sm-8">@Model.Booking.TeeTime.ToString(@"hh\:mm")</dd>
                    
                    <dt class="col-sm-4">Created On</dt>
                    <dd class="col-sm-8">@DateTime.Now.ToShortDateString()</dd>
                    
                    <dt class="col-sm-4">Total Players</dt>
                    <dd class="col-sm-8">@Model.Booking.Players.Count</dd>
                </dl>
            </div>
        </div>
        
        <div class="card mb-4">
            <div class="card-header bg-success text-white">
                <h5 class="mb-0">Player Information</h5>
            </div>
            <div class="card-body">
                @if (Model.Booking.Players.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Membership Number</th>
                                    <th>Handicap</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var player in Model.Booking.Players)
                                {
                                    <tr>
                                        <td>@player.Member.Name</td>
                                        <td>@player.Member.MembershipNumber</td>
                                        <td>@player.HandicapAtBooking</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">
                        <p>No players are assigned to this booking.</p>
                    </div>
                }
            </div>
        </div>
        
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Booking.Id" class="btn btn-primary">Edit</a>
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
