@page
@model GolfBookingApp.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Tee Time Bookings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Tee Time Bookings</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Booking</a>
</p>

@if (Model.Bookings != null && Model.Bookings.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Bookings[0].BookingDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bookings[0].TeeTime)
                    </th>
                    <th>Players</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Bookings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeeTime)
                        </td>
                        <td>
                            @item.Players.Count
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info">
        <p>No bookings found. Please create a new tee time booking.</p>
    </div>
}
